<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="titulo"><%= title %></h1>
    <div class="container-pai">
      <p>Welcome to <%= title %></p>
    </div>
  </body>
</html>
