<%- include('./partials/header') %>

    <main>
      <div class="texto">
        <h1 class="titulo"><%= title %></h1>
        <section>
          <span>
          <article class="The100"><img src="/images/serie1-The100.jpeg" alt="The 100" width="33%" height="400px"></article>
          </span>

          <span>
          <article class="TheSociety"><img src="/images/serie2-TheSociety.jpeg" alt="The Society" width="33%" height="400px"></article>
          </span>

          <span>
          <article class="OuterBanks"><img src="/images/serie3-OuterBanks.jpeg" alt="Outer Banks" width="33%" height="400px"></article>
          </span>
          
        </section>
      </div>
    </main>

<%- include('./partials/footer') %>